/* CSS Style Sheet */
html {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.Acronymdef {
    width: 50px;
}

button {
    width: 75px;
    background-color: black;
    color: white;
}